<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>プロフィール</h2>
      <%= render 'public/users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>俳句詳細</h2>
      <table class='table'>
        <tr>
          <td>
            <%= link_to @user.name %>
          </td>
          <td><%= @poem.poem_start %></td>
          <td><%= @poem.poem_middle %></td>
          <td><%= @poem.poem_end %></td>
          <% if @poem.user == current_user %>
            <td><%= link_to 'Edit', edit_poem_path(@poem), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @poem, method: :delete, class: "btn btn-sm btn-danger"%></td>
          <% end %>
         </div>
        </tr>
      </table>
      <div>
        <% if @poem.favorited_by?(current_user) %>
            <p>
              <%= link_to poem_favorites_path(@poem), method: :delete do %>
                ♥<%= @poem.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to poem_favorites_path(@poem), method: :post do %>
                ♡<%= @poem.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
      </div>
      <div>
        <p>コメント件数：<%= @poem.poem_comments.count %></p>
        <% @poem.poem_comments.each do |poem_comment| %>
          <p><%= image_tag poem_comment.user.get_profile_image(100,100) %></p>
          <%= poem_comment.user.name %>
          <%= poem_comment.created_at.strftime('%Y/%m/%d') %><%= poem_comment.comment %>
          <% if poem_comment.user == current_user %>
            <%= link_to "削除", poem_poem_comment_path(poem_comment.poem, poem_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@poem, @poem_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>